
<h1>Sign Up</h1>
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authentication_token" value="form_authentication_token"/>
  <label>Username: <input type="text" id="username" name="user[username]" /> </label>
  <label>Password: <input type="text" id="password" name="user[password]" /> </label>
  <input type="submit" value="Sign Up"/> 

</form>


